<p>Hola {{socio.nombre}} </p>

<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" >
      <ng-template matStepLabel>Datos del socio</ng-template>
      <mat-form-field>
          <input matInput placeholder="ID" formControlName="idCtrl" [(ngModel)]="socio.id" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-select [(value)]="socio.rango" placeholder="Rango" formControlName="rangoCtrl" required>
            <mat-option *ngFor="let rango of rangos" [value]="rango.value">
              {{rango.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      <div>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Confirmación</ng-template>
      <p>¿Están correctos tus datos?</p>
      <mat-card>
        <img mat-card-image src={{socio.foto}} >
        <mat-card-header>
          <mat-card-title>{{socio.nombre}}</mat-card-title>
          <mat-card-subtitle>{{socio.rango}}</mat-card-subtitle>
          <mat-card-subtitle>{{socio.id}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button matStepperPrevious>Atrás</button>
            <button mat-button matStepperNext>Siguiente</button>
        </mat-card-actions>
      </mat-card>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Guardar</ng-template>
      <p>¡Hemos terminado!</p>
      <div>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button >Finalizar</button>
      </div>
    </mat-step>
</mat-vertical-stepper>

